
$white: #fff;
$gray-100: rgb(250, 249, 248);
$gray-300: rgb(224, 217, 204);
$gray-400: rgb(219, 213, 200);
$gray-600: rgb(141, 134, 126);
$gray-700: rgb(85, 78, 65);
$gray-800: rgb(51, 43, 33);
$gray-900: rgb(37, 26, 15);
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #772953;
$pink: #e83e8c;
$orange: #dd7628;
$yellow: #EFB73E;
$cyan: rgb(23, 184, 167);
$primary: $orange;
$green: rgb(95, 167, 40);
$success: $green;
$info: $cyan;
$warning: $yellow;
$red: rgb(218, 85, 42);
$danger: $red;
$gray-200: rgb(241, 237, 231);
$light: $gray-200;
$yiq-contrasted-threshold: 200;
$body-color: $gray-800;
$dark: $gray-700;
$table-dark-bg: $dark;
$table-dark-border-color: darken($dark, 5%);
$gray-500: rgb(173, 165, 155);
$secondary: $gray-500;
$headings-font-family: Mali, Georgia, "Times New Roman", Times, serif;
$font-size-base: 1.2rem;
$headings-color: $gray-600;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;