body {
    /*font-size: 125%;*/
}

.picture-cover {
    /* fills the entire space with the pic while keeping ratio */
    object-fit: cover;
    background-size: cover;
    max-height: 100%;
    min-width: 100%;
    /* centers the picture on x-axis */
    margin-left: 50%;
    transform: translateX(-50%);
    background-position: center center;
}

/* make pic square: */

.picture-square {
    position: relative;
}

.picture-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.picture-square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-gold-s {
    width: 38.2%;
}

.mt-10,
.my-10 {
    margin-top: 6rem !important;
}

.mb-10,
.my-10 {
    margin-bottom: 6rem !important;
}

.mr-10,
.mx-10 {
    margin-right: 6rem !important;
}

.ml-10,
.mx-10 {
    margin-left: 6rem !important;
}

.mt-15,
.my-15 {
    margin-top: 9rem !important;
}

.mb-15,
.my-15 {
    margin-bottom: 9rem !important;
}

.mr-15,
.mx-15 {
    margin-right: 9rem !important;
}

.ml-15,
.mx-15 {
    margin-left: 9rem !important;
}

.mt-20,
.my-20 {
    margin-top: 12rem !important;
}

.mb-20,
.my-20 {
    margin-bottom: 12rem !important;
}

.mr-20,
.mx-20 {
    margin-right: 12rem !important;
}

.ml-20,
.mx-20 {
    margin-left: 12rem !important;
}

.pl-gold-s {
    padding-left: 38.2% !important;
}

.pr-gold-s {
    padding-right: 38.2% !important;
}

.pr-25 {
    padding-right: 25% !important;
}

.pr-30 {
    padding-right: 30% !important;
}

.pr-33 {
    padding-right: 33% !important;
}

.l-50 {
    left: 50%;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

/***************************
*** header
***************************/

@media (max-width: 870px) {
    .header .account {
        display: none;
    }
}

/***************************
*** menu
***************************/

@media (max-width: 750px) {
    div.header {
        display: none;
    }
}

@media (min-width: 751px) {
    div.header-mobile {
        display: none;
    }
}

@media (max-width: 660px) {
    div.header-mobile {
        display: none;
    }
}

@media (min-width: 661px) {
    div.header-mobile-small {
        display: none;
    }
}

@media (max-width: 360px) {
    div.header-mobile-small .logo {
        display: none;
    }
}

ul.nav {
    position: relative;
    margin-bottom: 0;
}

ul.dropdown-menu {
    left: auto;
    margin: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.nav li:hover ul.dropdown-menu {
    display: block;
    padding: 0.5rem 0.5rem;
}

/***************************
*** menu side-bar
***************************/

#menu_burger {
    width: 100px;
}

#sideMenu-modal {
    position: fixed;
    top: 0;
    left: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    max-height: 100%;
}

.sidenav.open {
    width: 300px;
    max-width: calc(100% - 1rem);
}

.sidenav .nav {
    display: block;
}

.sidenav ul {
    padding: 0;
}

.sidenav li {
    list-style-type: none;
}

.sidenav li.nav-item:nth-child(1) {
    border-top: none;
}

.sidenav li.nav-item {
    width: 95%;
    border-top: #dd7628 1px solid;
}

.sidenav li.nav-item ul li a {
    font-size: 0.9rem;
    padding: 6px 16px;
    color: #402E32;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 1.2rem;
    }
}

.fadeInLeft {
    transition: opacity 0.25s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fadeInLeft {
        transition: none;
    }
}

.fadeInLeft:not(.show) {
    opacity: 0;
}

.modal.fadeInLeft .sidenav {
    transition: transform 0.3s ease-out;
    transform: translate(-150px, 0);
}

@media (prefers-reduced-motion: reduce) {
    .modal.fadeInLeft .sidenav {
        transition: none;
    }
}

.modal.show .sidenav {
    transform: none;
}

/***************************
*** teaserblock links
***************************/

.teaserblock a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .teaserblock a {
        transition: none;
    }
}

.teaserblock a:hover {
    color: #332b21;
    text-decoration: none;
}

.teaserblock a:focus, .teaserblock a.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(221, 118, 40, 0.25);
}

.teaserblock a.disabled, .teaserblock a:disabled {
    opacity: 0.65;
}

.teaserblock a {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.teaserblock a:hover {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.teaserblock a:focus, .teaserblock a.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

.teaserblock a.disabled, .teaserblock a:disabled {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.teaserblock a:not(:disabled):not(.disabled):active, .teaserblock a:not(:disabled):not(.disabled).active,
.show > .teaserblock a.dropdown-toggle {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.teaserblock a:not(:disabled):not(.disabled):active:focus, .teaserblock a:not(:disabled):not(.disabled).active:focus,
.show > .teaserblock a.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

/***************************
*** linklist links
***************************/

.linklist a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .linklist a {
        transition: none;
    }
}

.linklist a:hover {
    color: #332b21;
    text-decoration: none;
}

.linklist a:focus, .linklist a.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(221, 118, 40, 0.25);
}

.linklist a.disabled, .linklist a:disabled {
    opacity: 0.65;
}

.linklist a {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.linklist a:hover {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.linklist a:focus, .linklist a.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

.linklist a.disabled, .linklist a:disabled {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.linklist a:not(:disabled):not(.disabled):active, .linklist a:not(:disabled):not(.disabled).active,
.show > .linklist a.dropdown-toggle {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.linklist a:not(:disabled):not(.disabled):active:focus, .linklist a:not(:disabled):not(.disabled).active:focus,
.show > .linklist a.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

/***************************
*** picarticle links
***************************/

.picarticle a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .picarticle a {
        transition: none;
    }
}

.picarticle a:hover {
    color: #332b21;
    text-decoration: none;
}

.picarticle a:focus, .picarticle a.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(221, 118, 40, 0.25);
}

.picarticle a.disabled, .picarticle a:disabled {
    opacity: 0.65;
}

.picarticle a {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.picarticle a:hover {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.picarticle a:focus, .picarticle a.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

.picarticle a.disabled, .picarticle a:disabled {
    background-color: #FFF6EB;
    border-color: #dd7628;
}

.picarticle a:not(:disabled):not(.disabled):active, .picarticle a:not(:disabled):not(.disabled).active,
.show > .picarticle a.dropdown-toggle {
    color: #fff;
    background-color: #dd7628;
    border-color: #dd7628;
}

.picarticle a:not(:disabled):not(.disabled):active:focus, .picarticle a:not(:disabled):not(.disabled).active:focus,
.show > .picarticle a.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 139, 72, 0.5);
}

/***************************
*** article
***************************/

@media (min-width: 768px) {
    .article .content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
}

/***************************
*** news article
***************************/

@media (min-width: 768px) {
    .news .content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
}

/***************************
*** teaser block
***************************/

.teaserblock .item {
    width: 100%;
    display: flex;
}

@media (max-width: 575.98px) {
    .teaserblock .item {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .teaserblock .item:nth-child(odd) {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }
}

@media (min-width: 992px) {
    .teaserblock .item.reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .teaserblock .item {
        -webkit-flex: 0 1 50%;
        flex: 0 1 50%;
    }
}

.teaserblock .item .picture {
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
}

.teaserblock .item .text {
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
}

.teaserblock .item.color1 .text {
    background-color: #FFF6EB;
}

.teaserblock .item.color2 .text {
    background-color: #B3876C;
}

.teaserblock .item.color2 .text h4 {
    color: #402E32;
}

.teaserblock .item.color3 .text {
    color: #FFF6EB;
    background-color: #402E32;
}

/***************************
*** article with picture
***************************/

.picarticle {

    position: relative;
}

.picarticle h1 {
    font-size: 2.4rem;
}

.picarticle h2 {
    font-size: 2.1rem;
}

.picarticle h3 {
    font-size: 1.8rem;
}

.picarticle h4 {
    font-size: 1.5rem;
}

.picarticle h5 {
    font-size: 1.2rem;
}

.picarticle h6 {
    font-size: 1rem;
}

.picarticle .border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38.2%;
    left: 0;
}

.picarticle .flex-row-reverse .border {
    right: 0;
    left: 38.2%;
}

.picarticle .picture {
    max-height: 450px;
}

@media (min-width: 992px) {
    .picarticle .picture {
        position: relative;
        top: -3rem;
        /*overflow: hidden;*/
    }
}

@media (max-width: 991.98px) {
    .picarticle {
        margin-top: 3rem !important;
    }

    .picarticle .content {
        padding: 0 15px 0 15px !important;
    }

    .picarticle .border {
        display: none;
    }

    .picarticle .row div {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/***************************
*** parallax
***************************/

.parallax {
    height: 100vh;
    /*perspective-origin: 100% 50%;*/
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

/*.parallax-group {*/
/*    position: relative;*/
/*    -webkit-transform-style: preserve-3d;*/
/*    transform-style: preserve-3d;*/
/*    !*transform: translate3d(700px, 0, -800px) rotateY(30deg);*!*/
/*}*/

/*.parallax-layer {*/
/*    !*transform-origin: 100% 50% 0;*!*/
/*    position: absolute;*/
/*}*/

/*.parallax-layer.base {*/
/*    -webkit-transform: translateZ(0);*/
/*    transform: translateZ(0);*/
/*}*/

/*.parallax-layer.front {*/
/*    -webkit-transform: translateZ(30px) scale(0.91);*/
/*    transform: translateZ(30px) scale(0.91);*/
/*}*/

/*.parallax-layer.back {*/
/*    -webkit-transform: translateZ(-30px) scale(1.11);*/
/*    transform: translateZ(-30px) scale(1.11);*/
/*}*/

/***************************
*** shop
***************************/

#shop {
    /*width: 90%;*/
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 575.98px) {
    #shop {
        flex-wrap: wrap;
    }
}

#shop .cart {
    width: 350px;
}

#shop > .container {
    overflow-y: scroll;
    height: 1000px;
}

#shop .col-4 {
    min-width: 360px;
}

#shop img {
    max-width: 100%;
}

#shop .sum span {
    width: 100px;
}

#shop .pay {
    width: 100%;
}

/***************************
*** footer
***************************/

#footer {
    height: 41rem;
    background-image: url("../img/uganda_footer.jpg");
    background-size: cover;
    background-position: center;
}

#footer .glow {
    opacity: 0.4;
    background: #FFA041;
}

#footer .content {
    height: 100%;
}

#footer .container {
    position: relative;
    padding-top: 9rem;
    opacity: 1;
    height: 100%;
}

#footer #links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

#footer #links .column {
    min-width: 150px;
}

@media (max-width: 991px) {
    #footer .container {
        padding-top: 8rem;
    }
}

@media (max-width: 767px) {
    #footer .konto-vb {
        display: none;
    }

    #footer .cont-addr {
        max-width: 50%;
        flex: 0 0 50%;
    }

    #footer .cont-konto {
        max-width: 50%;
        flex: 0 0 50%;
    }

    #footer .cont-paten {
        display: none;
    }

    #footer .cont-smile {
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
    }

    #footer .cont-shop {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }
}

@media (max-width: 520px) {
    #footer .cont-addr {
        display: none;
    }

    #footer .cont-konto {
        max-width: 100%;
        flex: 0 0 100%;
    }

    #footer .konto-vb {
        display: none;
    }

    #footer .cont-paten {
        display: none;
    }

    #footer .cont-smile {
        max-width: 100%;
        flex: 0 0 100%;
    }

    #footer .cont-shop {
        display: none;
    }

    #footer #links .column {
        min-width: 100%;
    }
}

/***************************
*** gallery
***************************/

.gallery_img {
    height: 0;
    padding-bottom: 75%;
    border-radius: 0.25rem;
}

/***************************
*** modal
***************************/

.modal-dialog {
    max-width: 80vw;
}

.modal-content img {
    max-height: 80vh;
    max-width: 78vw;
}