body {
    /*font-size: 125%;*/
}

.picture-cover {
    /* fills the entire space with the pic while keeping ratio */
    object-fit: cover;
    max-height: 100%;
    min-width: 100%;
    /* centers the picture on x-axis */
    margin-left: 50%;
    transform: translateX(-50%)
}

.w-30 {
    width: 30%;
}

.w-gold-s {
    width: 38.2%;
}

.mt-10,
.my-10 {
    margin-top: 6rem !important;
}

.mb-10,
.my-10 {
    margin-bottom: 6rem !important;
}

.mr-10,
.mx-10 {
    margin-right: 6rem !important;
}

.ml-10,
.mx-10 {
    margin-left: 6rem !important;
}

.pl-gold-s {
    padding-left: 38.2% !important;
}

.pr-gold-s {
    padding-right: 38.2% !important;
}

.pr-25 {
    padding-right: 25% !important;
}

.pr-30 {
    padding-right: 30% !important;
}

.pr-33 {
    padding-right: 33% !important;
}

.l-50 {
    left: 50%;
}

/***************************
*** article
***************************/

@media (min-width: 768px) {
    .article .content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
}

/***************************
*** teaser block
***************************/

@media (max-width: 767.98px) {
    .teaserblock .pic-block:nth-child(odd) {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .teaserblock .pic-block {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .teaserblock .pic-block.reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .teaserblock .pic-block {
        width: 50%;
    }

}

@media (max-width: 575.98px) {
    .teaserblock .pic-block {
        height: 350px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .teaserblock .pic-block {
        height: 450px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .teaserblock .pic-block {
        height: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .teaserblock .pic-block {
        height: 450px;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .teaserblock .pic-block {
        height: 550px;
    }
}

@media (min-width: 1500px) {
    .teaserblock .pic-block {
        height: 700px;
    }
}

/***************************
*** article with picture
***************************/

.picarticle {
    position: relative;
    min-height: 100px;
}

.picarticle.pic-right .content {
    left: 0px;
    padding-right: 33% !important;
}

.picarticle.pic-right .picture {
    position: absolute;
    right: 0px;
    top: 40px;
}

.picarticle.pic-left .content {
    right: 0px;
    padding-left: 33% !important;
}

.picarticle.pic-left .picture {
    position: absolute;
    left: 0px;
    top: -20px;
}


/***************************
*** parallax
***************************/

.parallax {
    height: 100vh;
    /*perspective-origin: 100% 50%;*/
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax-group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*transform: translate3d(700px, 0, -800px) rotateY(30deg);*/
}

.parallax-layer {
    /*transform-origin: 100% 50% 0;*/
    position: absolute;
}
.parallax-layer.base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax-layer.front {
    -webkit-transform: translateZ(30px) scale(0.91);
    transform: translateZ(30px) scale(0.91);
}
.parallax-layer.back {
    -webkit-transform: translateZ(-30px) scale(1.11);
    transform: translateZ(-30px) scale(1.11);
}