body {
    /*font-size: 125%;*/
}

.picture-cover {
    object-fit: cover;
    max-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%)
}

/***************************
*** article
***************************/

@media (min-width: 768px) {
    .article .content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
}

/***************************
*** teaser block
***************************/

@media (max-width: 767.98px) {
    .teaserblock .pic-block:nth-child(odd) {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .teaserblock .pic-block {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .teaserblock .pic-block.reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .teaserblock .pic-block {
        width: 50%;
    }

}

@media (max-width: 575.98px) {
    .teaserblock {
        height: 350px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .teaserblock  {
        height: 450px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .teaserblock {
        height: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .teaserblock {
        height: 450px;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .teaserblock {
        height: 550px;
    }
}

@media (min-width: 1500px) {
    .teaserblock {
        height: 700px;
    }
}

/***************************
*** article with picture
***************************/

.picarticle {
    height: 450px;
}
