{{define "main"}}
    <div id="shop" class="container" style="width: 90%">
        <div class="row mt-5">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        {{range .Pages}}
                            {{if ne .Type "shopitem"}}
                                {{- partial "types.html" . -}}
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </div>

            <div v-if="cartItems.length" class="col-4 p">
                <div id="cart" class="card">
                    <div class="card-body">
                        <h4 class="card-title text-right">Meine Auswahl</h4>
                    </div>
                    <div class="card-body">
                        <table class="w-100">
                            <tbody id="cart_content" class="align-text-top">
                            <tr is="cart-item" v-for="item in cartItems" :key="item.type"
                                :type="item.type"
                                :caption="item.caption"
                                :amount="item.amount"
                            ></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body text-right">
                        <p class="mt-2">Summe: [[ cartSum ]]€</p>
                        <button @click="clear" class="btn btn-secondary w-45 float-left">Leeren</button>
                        <button class="btn btn-primary w-45">Spenden</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            {{range .Pages}}
                {{if eq .Type "shopitem"}}
                    {{- partial "types.html" . -}}
                {{end}}
            {{end}}
        </div>


    </div>

    <script type="text/x-template" id="cart-item">
        <tr>
            <td class="text-right pr-2">[[ amount ]]x</td>
            <td>[[ caption ]]</td>
            <td class="text-right">[[ total ]]€</td>
        </tr>
    </script>
{{end}}
