{{define "main"}}
    <script src="/js/phuganda.js"></script>
    <div id="cart" class="card m-5 float-right position-absolute" style="width: 18rem; right: 0">
        <div class="card-body">
            <h4 class="card-title text-right">Meine Auswahl</h4>
        </div>
        <div class="card-body">
            <table class="w-100">
                <tbody id="cart_content" class="align-text-top">
                </tbody>
            </table>
        </div>
        <div class="card-body text-right">
            <p class="mt-2">Summe: <span id="cart-sum">123</span>€</p>
            <button onclick="cart.Clear()" class="btn btn-secondary w-45 float-left">Leeren</button>
            <button class="btn btn-primary w-45">Spenden</button>
        </div>
    </div>

    <div class="float-left" style="margin-right: 18rem">
        {{range .Pages}}
            {{- partial "types.html" . -}}
        {{end}}
    </div>
{{end}}
