<div class="{{.Type}} {{.Layout}} parallax-group container mt-10 mb-10 {{ if hasPrefix .Layout "Left" }}flex-row-reverse{{end}}">
    <div class="w-75 h-100 pr-33 p-3 mt-5 parallax-layer back bg-primary">
        <h3>
            {{.Title}}
        </h3>
        <div class="content">
            {{.Content}}
        </div>
    </div>
    <div class="w-gold-s h-100 l-50 parallax-layer base overflow-hidden">
        <img class="picture-cover" src="{{ .Params.Picture }}" alt="{{ .Params.Picture }}"/>
    </div>
</div>
