<div id="footer" class="position-relative">
    <div class="glow position-absolute h-100 w-100"></div>
    <div class="content position-absolute w-100">
        <div class="container">
            <div class="row">
                <div class="cont-addr col-4 p-2">
                    <div class="bg-light opacity-70 text-center h-100 p-4">
                        <div>
                            <h5 class="text-primary">Adresse</h5>
                            <div class="text-left d-flex justify-content-center">
                                <div class="small">
                                    Projekthilfe Uganda e.V.<br/>
                                    Albrecht-Dürer-Str. 4<br/>
                                    74464 Bruchsal<br/>
                                    E-Mail: info@projekthilfe-uganda.de<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cont-konto col-8 p-2">
                    <div class="bg-light opacity-70 text-center h-100 p-4">
                        <h5 class="text-primary">Spendenkonto</h5>
                        <div class="text-left d-flex justify-content-center">
                            <div class="konto-sp small mr-4">
                                <b>Sparkasse Kraichgau</b><br/>
                                IBAN:&nbsp;DE 36 6635 0036 0007 0487 48<br/>
                                BIC:&nbsp;&nbsp;&nbsp;&nbsp;BRUSDE 66 XXX<br/>
                                BLZ:&nbsp;&nbsp;&nbsp;663 500 36<br/>
                                KTO:&nbsp;&nbsp;70 487 48<br/>
                            </div>
                            <div class="konto-vb small ml-4">
                                <b>Volksbank Stutensee Hardt</b><br/>
                                IBAN:&nbsp;DE 57 6606 1724 0023 0108 01<br/>
                                BIC:&nbsp;&nbsp;&nbsp;&nbsp;GENODE 61 WGA<br/>
                                BLZ:&nbsp;&nbsp;&nbsp;660 617 24<br/>
                                KTO:&nbsp;&nbsp;230 108 01<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cont-paten col-3 p-2">
                    <div class="bg-light opacity-70 text-center h-100 p-4">
                        <a href="/helfen/patenschaft/">Patenschaften</a>
                    </div>
                </div>
                <div class="cont-smile col-6 p-2">
                    <div class="bg-light opacity-70 text-center h-100">
                        <a target="_blank" href="https://smile.amazon.de"><img src="/img/amazonSmile.png" width="200"></a>
                    </div>
                </div>
                <div class="cont-shop col-3 p-2">
                    <div class="bg-light opacity-70 text-center h-100 p-4">
                        <a href="/shop/">Spendenshop</a>
                    </div>
                </div>
            </div>
            <div id="links" class="row text-light small font-weight-light text-center">
                <div class="column col-4 p-2">
                    Sitemap
                </div>
                <div class="column col-4 p-2">
                    Datenschutzerklärung
                </div>
                <div class="column col-4 p-2">
                    Impressum
                </div>
            </div>
        </div>
    </div>
</div>

{{partial "scripts.html" .}}
