<div class="{{.Type}} container mt-5 mb-5">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{.Params.title}}</h1>
    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">
        {{ range $j, $_ := .Params.pictures }}
        <div class="col-lg-3 col-md-4 col-6">
            <a class="gallery_link" href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#gallery-modal">
                <img class="img-fluid img-thumbnail" src="{{ .picture }}" alt="{{ .alt }}" title="{{ .title }}">
            </a>
        </div>
        {{ end }}
    </div>
</div>
