<ul class="nav justify-content-end">
    {{range .Site.Menus.main}}
        <li class="nav-item">
            {{/*{{if .URL}}*/}}
            <a class="nav-link active" href="{{.URL}}">
                {{if .Pre}}
                    <i class="fa {{.Pre}}">&nbsp;</i>
                {{- end -}}
                {{.Name -}}
            </a>
            {{- if .HasChildren -}}
                <ul class="dropdown-menu">
                    {{ range .Children }}
                        <li class="">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{- end -}}
        </li>
    {{end}}
</ul>
