{{ $slider := where .Page.Params "_template" "==" "picture_slider"}}
{{ if gt (len $slider) 0 }}
    <div id="picSliderFade" class="carousel slide carousel-fade h-75" data-ride="carousel">
        <div class="carousel-inner h-100">
            {{ range $i, $_ := $slider.blocks }}
                {{ range $j, $_ := .slides }}
                    <div class="carousel-item h-100 {{ if and (eq $i 0) (eq $j 0) }}active{{ end }}">
                        <img src="{{ .picture }}" class="d-block picture-cover" alt="...">
                    </div>
                {{ end }}
            {{end}}
        </div>
        <a class="carousel-control-prev" href="#picSliderFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#picSliderFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{{end}}
