{{if eq .Type "article"}}
    {{- partial "article.html" . -}}
{{end}}
{{if eq .Type "picarticle"}}
    {{- partial "article-picture.html" . -}}
{{end}}
{{if eq .Type "teaserblock"}}
    {{- partial "teaser-block.html" . -}}
{{end}}
{{if eq .Type "news"}}
    {{- partial "news.html" . -}}
{{end}}
{{if eq .Type "shopitem"}}
    {{- partial "shopitem.html" . -}}
{{end}}
{{if eq .Type "gallery"}}
    {{- partial "gallery.html" . -}}
{{end}}
{{if eq .Type "linklist"}}
    {{- partial "linklist.html" . -}}
{{end}}
